@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

.member {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;

}

.logo {
    transition: 0.5s;
}

.list {
    position: relative;
    display: flex;

    /* untuk responsive */
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.list li {
    list-style: none;
}


.list li::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translate(-50%, calc(-50% + 150px)); */
    font-size: 14vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}

.list li:hover:before {
    opacity: 0.1;
    transform: translate(-50%, calc(-50% + 150px));
}

.list li a {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 150px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.4);
    transition: background 0.25s;
}

/* untuk warna background tiap member */

.list li a:hover.nayeon {
    background: #C6F6FF;
}

.list li a:hover.jeong {
    background: #BFD85C;
}

.list li a:hover.momo {
    background: #F97B90;
}

.list li a:hover.sana {
    background: #9170BA;
}

.list li a:hover.jihyo {
    background: #FFBE4A;
}

.list li a:hover.mina {
    background: #54CDB5;
}

.list li a:hover.dahyun {
    background: #FEF0E6;
}

.list li a:hover.chae {
    background: #FA1819;
}

.list li a:hover.cuwi {
    background: #005EC8;
}

/* untuk fhoto */

ul li a .image {
    width: 100%;
    height: 100%;
}

ul li a.nayeon .image {
    background: url(image/ny.png);
    background-size: 100%;
    border-radius: 10px;
}

ul li a.jeong .image {
    background: url(image/Jy.png);
    background-size: 100%;
    border-radius: 10px;
}

ul li a.momo .image {
    background: url(image/mm.png);
    background-size: 100%;
    border-radius: 10px;
}

ul li a.sana .image {
    background: url(image/sn.png);
    background-size: 100%;
    border-radius: 10px;
}

ul li a.jihyo .image {
    background: url(image/jhy.png);
    background-size: 100%;
    border-radius: 10px;
}

ul li a.mina .image {
    background: url(image/mn.png);
    background-size: 100%;
    border-radius: 10px;
}


ul li a.dahyun .image {
    background: url(image/dy.png);
    background-size: 100%;
    border-radius: 10px;
}

ul li a.chae .image {
    background: url(image/cy.png);
    background-size: 100%;
    border-radius: 10px;
}

ul li a.cuwi .image {
    background: url(image/tz.png);
    background-size: 100%;
    border-radius: 10px;
}

/* .member {
    background-image: url(image/tz.png) !important;
} */

.member .list li:hover {
    background-image: url('image/sn.png') no-repeat;
}



/* untuk 3d */

.list li a .image {
    transition: 0.25s;
    pointer-events: none;
}

.list li a:hover .image {
    transform: scale(1.5) translateZ(50px);
}

/* untuk 3d */

.js-tilt-glare {
    border-radius: 10px;
}


/* ganti background gambar belakang */
.member #picture {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #FC5D9D, #F7C596);
}




.member #picture.one {
    background: url(image/1-ny.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



.member #picture.two {
    background: url(image/9.jy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    ;
}

.member #picture.tri {
    background: url(image/6.mm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    ;
}

.member #picture.for {
    background: url(image/8.sn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    ;
}

.member #picture.fav {
    background: url(image/7.jhy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    ;
}

.member #picture.six {
    background: url(image/4-mn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    ;
}

.member #picture.seven {
    background: url(image/2-dy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    ;
}

.member #picture.eg {
    background: url(image/5-cy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    ;

}

.member #picture.nain {
    background: url(image/3-tz.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    ;
}

/* timeline */
@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.timeline-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-family: "Pathway Gothic One", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}

.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.timeline-item--active:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
}

.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }

    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }

    .timeline-item:last-child {
        padding-bottom: 40px;
    }

    .list li a {
        width: 50px;
        height: 70px;
        margin: 10px;
        /* margin-right: 50px; */
    }




}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}

.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
}

.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}